#desktop{
  background-color: #008080;
  position:fixed;
  padding:0;
  margin:0;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
}

#taskbar{
  position:fixed;
  padding:0;
  margin:0;
  left: 0;
  background-color: grey;
  border-color: black;
  border-style: : solid;
  border: 1px solid black;
  width: 99%;
  bottom: 0;
}

#startButton{
  background-color: red;
  width: 35px;
  float: left;
}
