#desktop{
  background-color: #008080;
  height: 100px;
}

#taskbar{
  background-color: grey;
  border-color: black;
  border-style: : solid;
  border: 1px solid black;
  width: 97%;
  position: absolute;
  bottom: 0;
}
