#windowcontainer {
    background-color: green;
    height: 100vh;
}

#desktop{
    background-color: #008080;
    height: calc(100vh - 25px);
}

#bar {
    background-color: #c3c3c3;
    width: 100%;
    height: 25px;
}

body {
        margin: 0;
        padding: 0;
}