* {
    font-family: MS Sans Serif;
  }

#windowcontainer {
    background-color: green;
    height: 100vh;
}

#startMenu{
  position: absolute;
  top: calc(100% - 127px); /*position of start menu -the height size*/
  left: 2px;
  
  visibility:hidden;
  
  background-color: #c3c3c3;
  width: 100px;
  height: 100px;
}

#startButton{
    background-color: #c3c3c3; 
    width: 44px;
    height: 20px;
    margin-top: 2px;
    margin-left: 2px;
    padding: 2px;

    font-size: 10px;
    font-weight: bold;
    text-align: center;
    
    border-top: 1px solid #dfdfdf; /*inner border*/
    border-left: 1px solid #dfdfdf;
    border-right: 1px solid #848484;
    border-bottom: 1px solid #848484;
    
    box-shadow: -1px -1px 0 white, 1px 1px 0 black; /*outer border*/
    
}

#desktop{
    background-color: #008080;
    height: calc(100vh - 28px); /* minus the bar height + shadow*/ 
}

#bar {
    background-color: #c3c3c3;
    width: 100%;
    height: 27px;

    border-top-style: solid; /*Inner line*/
    border-color: white;
    border-top-width: 1px;
    
    box-shadow: -1px -1px 0 #dfdfdf; /* outer top line*/
}

body {
        margin: 0;
        padding: 0;
}